<mat-tab-group>
    <mat-tab label="Crear Puerto"> 
        <div class="form-container">
            <form class="puerto-form">                
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de la sociedad portuaria</mat-label>
                    <input matInput placeholder="Ingresa el nombre">
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Ciudad a la que pertenece la sociedad portuaria</mat-label>
                    <input matInput type="email" placeholder="Sociedad Portuaria" >
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Persona Entrevistada</mat-label>
                    <input matInput type="password" placeholder="Ingresa la persona" >
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Persona Entrevistada</mat-label>
                    <input matInput type="password" placeholder="Ingresa la persona" >
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Cargo dentro de la empresa</mat-label>
                    <input matInput type="password" placeholder="Ingresa el cargo" >
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Persona de contacto</mat-label>
                    <input matInput type="password" placeholder="Persona de conacto" >
                </mat-form-field>
                
        
                <mat-form-field appearance="fill">
                    <mat-label>Cedula de Ciudadania</mat-label>
                    <input matInput type="password" placeholder="Cedula de Ciudadania" >
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput type="password" placeholder="Correo Electronico" >
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="password" placeholder="Telefono" >
                </mat-form-field>
        
                <button mat-raised-button color="primary" type="submit">Siguiente</button>
            </form>
        </div>  
    </mat-tab>
    <mat-tab label="Caracteristicas"> 
        <div class="form-container">
        <form class="puerto-form">                
            <mat-form-field appearance="fill">
                <mat-label>¿Cuál es el área de uso público del concesionario? m<sup>2</sup> </mat-label>
                <input matInput placeholder="área de uso público"  type="number">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>¿Cuál es el área del uso adyacente? m<sup>2</sup></mat-label>
                <input matInput placeholder="área del uso adyacente"  type="number">
            </mat-form-field>   
            
            <button mat-raised-button color="primary" type="submit">Siguiente</button>
        </form> 
    </div>       
    </mat-tab>   
    <mat-tab label="Tipos de Acceso"> Tipos de Acceso</mat-tab>
</mat-tab-group>
        
        
      
    

    
